.brands-filter{
    width: 28%;
}
.brands-filter select{
    width: 30%;
    padding-right: 0.5rem;
    background-color: transparent;
    border: 1px solid #555;
    margin-right: 0.5rem;
}
.price-numbers span{
    font-size:0.7rem;
    margin-right:0.3rem
}