.App {
  text-align: center;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .cart {
    left: -1500px;
    top: 0%;
    opacity: 0;
    width: 60%;
    font-size: 0.8rem;
    /* height: 100vh!important; */
  }
  .cart-show {
    left: -42%;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .cart-show:active{
    color:red;
  }
  .brands-filter select{
    width: 130%!important;
    margin: 0 auto!important;
  }
}
@media screen and (min-width: 1150px) {
  .cart-status.empty{
    padding: 0 5rem!important;
  }
}
